/* truculenta-regular - latin */
@font-face {
  font-family: 'Truculenta';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/truculenta-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/truculenta-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/truculenta-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/truculenta-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/truculenta-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/truculenta-v1-latin-regular.svg#Truculenta') format('svg'); /* Legacy iOS */
}

/* newsreader-regular - latin */
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/newsreader-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/newsreader-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/newsreader-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/newsreader-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/newsreader-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/newsreader-v2-latin-regular.svg#Newsreader') format('svg'); /* Legacy iOS */
}